<nav class="navbar navbar-expand-lg navbar-light bg-light col-6 float-end">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="">00 Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/destination">01 Destination</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/crew">02 Crew</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/technology">03 Technology</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
