<nav class="navbar navbar-expand-lg col-6 float-end navbar-dark bg-dark">
  <div class="container-fluid ">
    <div class="collapse navbar-collapse justify-content-around me-5" id="navbarSupportedContent">
      <ul class="nav nav-tabs mb-2 mb-lg-0">
        <li class="nav-item">
          <p class="nav-link" routerLink="" [routerLinkActive]="['underline']"><strong>00</strong> Home</p>
        </li>
        <li class="nav-item">
          <p class="nav-link" routerLink="/destination" [routerLinkActive]="['underline']"><strong>01</strong> Destination</p>
        </li>
        <li class="nav-item">
          <p class="nav-link" routerLink="/crew" [routerLinkActive]="['underline']"><strong>02</strong> Crew</p>
        </li>
        <li class="nav-item">
          <p class="nav-link" routerLink="/technology" [routerLinkActive]="['underline']"><strong>03</strong> Technology</p>
        </li>
      </ul>
    </div>
  </div>
</nav>
