.background {
  background: url(../../starter-code/assets/crew/background-crew-desktop.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
.button {
  background-color: #68686817;
  color: #0b0d17;
  text-align: center;
  height: 0.3em;
  width: 0.3em;
  border: none;
  font-size: 2.5em;
  font-family: "Bellefair", serif;
  outline: 1px solid rgba(255, 255, 255, 0.222);
}
.button:hover {
  background-color: #f6f6f657;
}
.active {
  background-color: #ffffff;
}
.text-container{
  padding-left: 7em;
}
.title{
margin-bottom: 4em;
}
.name{
  margin-bottom: 1em;
}
.bio{
  margin-bottom: 15em;
  width: 40%;
}
@media (max-width: 992px) {
  .background {
    background: url(../../starter-code/assets/crew/background-crew-tablet.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
  }
  .text-container{
    order: 1;
  }
  .picture{
    order:2
  }
}
@media (max-width: 720px) {
  .background {
    background: url(../../starter-code/assets/crew/background-crew-mobile.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
  }
    .picture{
    order: 1;
  }
  .text-container{
    order: 2;
  }
}
