<div class="background container-fluid">
  <div>
    <app-navbar></app-navbar>
  </div>
  <div class="row">
    <div class="col-7">
      <div class="row">
        <div class="col">
          <h1 class="heading4">01 PICK YOUR DESTINATION</h1>
        </div>
      </div>
    </div>
    <div class="col-5">
      <div class="row">
        <div class="col">
          <ul class="nav nav-tabs">
            <li class="nav-item">Moon</li>
            <li>Mars</li>
            <li>Europa</li>
            <li>TITAN</li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col d-flex ps-1">
          <div class="heading2">MOON</div>
        </div>
      </div>
      <div class="row">
        <div class="col description mb-3">
          <div>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Consequuntur, earum? Nesciunt facere cumque minima tempora quas,
            explicabo eum sint. Delectus.
          </div>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-3 d-flex flex-column">
          <div>AVG. DISTANCE</div>
          <div>
            Planet Distance
          </div>
        </div>
        <div class="col-3 d-flex flex-column float-left">
          <div>EST. TRAVEL TIME</div>
          <div>Planet Time</div>
        </div>
      </div>
    </div>
  </div>
</div>
