.background {
  background: url(../../starter-code/assets/destination/background-destination-desktop.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
@media (max-width: 768px) {
  .background {
    background: url(../../starter-code/assets/destination/background-destination-tablet.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
  }
}
@media (max-width: 576px) {
  .background {
    background: url(../../starter-code/assets/destination/background-destination-mobile.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
  }
}

li{
  list-style-type: none;
  margin-right: 2em;
}
ul{
justify-content:start;
margin-top: 6em;
padding-left: 0;
}
.description{
  max-width: 60%;
}
hr{
  max-width: 60%;
}
.nav-item:hover {
  border-bottom: 1px solid #ffffff;
  cursor: pointer;
}
.nav-tabs {
  border-bottom: none;
}
