<div class="background container-fluid">
  <div>
    <app-navbar></app-navbar>
  </div>
  <div class="row content">
    <div class="col-6 intro">
      <div class="row">
        <div class="col">
          <div class="heading5 text-start">SO, YOU WANT TO TRAVEL TO</div>
        </div>
        <div class="row">
          <div class="col">
            <div class="heading1">SPACE</div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="text-start">
              Let’s face it; if you want to go to space, you might as well
              genuinely go to outer space and not hover kind of on the edge of
              it. Well sit back, and relax because we’ll give you a truly out of
              this world experience!
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6 btn-container">
      <button class="button rounded-circle" type="button" routerLink="/destination">EXPLORE</button>
    </div>
  </div>
</div>
